{% extends 'base.html' %}

{% block title %}Supplier Detail{% endblock %}

{% block content %}

{% include 'partials/datatable-style.html' %}

<body class="m-0 font-sans text-base antialiased font-normal leading-default bg-gray-50 text-slate-500">
	<div class="absolute w-full bg-custom-yellow min-h-75"></div>

	{% include 'partials/navbar.html' %}

	<main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl">
	<!-- Navbar -->
	<nav class="relative flex flex-wrap items-center justify-between px-0 pt-2 mx-6 transition-all ease-in shadow-none duration-250 rounded-2xl lg:flex-nowrap lg:justify-start" navbar-main navbar-scroll="false">
		<div class="flex items-center justify-between w-full px-4 py-1 mx-auto flex-wrap-inherit">
			<nav>
				<!-- breadcrumb -->
				<ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
					<li class="text-sm leading-normal">
						<a class="text-white opacity-50" href="">Boss</a>
					</li>
					<li class="text-sm pl-2 capitalize leading-normal text-white before:float-left before:pr-2 before:text-white before:content-['/']" aria-current="page">Supplier </li>
					<li class="text-sm pl-2 capitalize leading-normal text-white before:float-left before:pr-2 before:text-white before:content-['/']" aria-current="page">Detail </li>
				</ol>
				<h6 class="mb-0 font-bold text-white capitalize">Data Detail</h6>
			</nav>

			{% include 'partials/topnav.html' %}

		</div>
	</nav>
		<div class="w-full p-6 mx-auto">
			<div class="flex flex-wrap -mx-3">
				<div class="w-full max-w-full px-3 shrink-0 md:flex-0">
					<div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-xl rounded-2xl bg-clip-border mb-80">
						<div class="p-6 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
							<a href="{{ url_for('bossDataTagihan') }}" class="inline-block px-8 py-2 mb-4 ml-auto font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-indigo-500 border-0 rounded-lg shadow-md cursor-pointer text-xs tracking-tight-rem hover:shadow-xs hover:-translate-y-px active:opacity-85"> Back </a>
						</div>
						<div class="flex-auto px-0 pt-0 pb-2">
							<div class="p-0 overflow-x-auto">
								<table	{% if dataPengirimanOne %}
										id="tabelku" 
									{% endif %}
									
								class="items-center w-full mb-0 align-top border-collapse text-slate-500">
								<thead class="align-bottom ">
									<tr>
										<th class="border-b border-collapse shadow-none "><p class="px-6 pl-4 font-bold uppercase bg-transparent text-xs border-b-solid tracking-none whitespace-nowrap text-slate-400">Nama Barang</p></th>
										<th class="border-b border-collapse shadow-none "><p class="pl-0 px-6 font-bold uppercase bg-transparent text-xs border-b-solid tracking-none whitespace-nowrap text-slate-400">Harga Beli</p></th>
										<th class="border-b border-collapse shadow-none "><p class="pl-0 px-6 font-bold uppercase bg-transparent text-xs border-b-solid tracking-none whitespace-nowrap text-slate-400">Stok</p></th>
										<th class="border-b border-collapse shadow-none "><p class="pl-0 px-6 font-bold uppercase bg-transparent text-xs border-b-solid tracking-none whitespace-nowrap text-slate-400">Laku</p></th>
										<th class="border-b border-collapse shadow-none "><p class="pl-0 px-6 font-bold uppercase bg-transparent text-xs border-b-solid tracking-none whitespace-nowrap text-slate-400">Return</p></th>
										<th class="border-b border-collapse shadow-none "><p class="px-6 pl-0 font-bold uppercase bg-transparent text-xs border-b-solid tracking-none whitespace-nowrap text-slate-400">Total Tagihan</p></th>
									</tr>
								</thead
								<tbody>
									{% if dataPengirimanOne %}
										{% for data in dataPengirimanOne %}
											<tr>
												<td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
													<span class="ml-4 mb-0 text-sm font-semibold leading-tight">{{ data.0 }}</span>
												</td>
												<td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
													<span class="mb-0 text-sm font-semibold leading-tight">Rp. {{ "{:,}".format(data.6).replace(",",".") }}</span>
												</td>
												<td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
													<span class="mb-0 text-sm font-semibold leading-tight">{{ data.3}}</span>
												</td>
												<td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
													<span class="mb-0 text-sm font-semibold leading-tight">{{ data.5}}</span>
												</td>
												<td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
													<span class="mb-0 text-sm font-semibold leading-tight">{{ data.4}}</span>
												</td>
												<td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
													<span class="mb-0 text-sm font-semibold leading-tight">Rp. {{ "{:,}".format(data.8).replace(",",".") }}</span>
												</td>
											</tr>
										{% endfor %}
										{% else %}
											<td>Empty Data</td>
									{% endif %}
									
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% include 'partials/datatable-js.html' %}

		</div>
	</main>
</body>

{% endblock %}
