{% extends 'base.html' %}

{% block title %}Repair Detail{% endblock %}

{% block content %}

{% include 'partials/datatable-style.html' %}

<body class="m-0 font-sans text-base antialiased font-normal dark:bg-slate-900 leading-default bg-gray-50 text-slate-500">
		<div class="absolute w-full bg-blue-500 dark:hidden min-h-75"></div>

		{% include 'partials/navbar.html' %}

		<main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl">
		<!-- Navbar -->
		<nav class="relative flex flex-wrap items-center justify-between px-0 pt-2 mx-6 transition-all ease-in shadow-none duration-250 rounded-2xl lg:flex-nowrap lg:justify-start" navbar-main navbar-scroll="false">
			<div class="flex items-center justify-between w-full px-4 py-1 mx-auto flex-wrap-inherit">
				<nav>
					<!-- breadcrumb -->
					<ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
						<li class="text-sm leading-normal">
							<a class="text-white opacity-50" href="">Boss</a>
						</li>
						<li class="text-sm pl-2 capitalize leading-normal text-white before:float-left before:pr-2 before:text-white before:content-['/']" aria-current="page">Supplier </li>
					</ol>
					<h6 class="mb-0 font-bold text-white capitalize">Data Supplier</h6>
				</nav>

				{% include 'partials/topnav.html' %}

			</div>
		</nav>
		<div> ini halaman boss data Supplier </div>
	</main>
</body>

{% endblock %}
