<aside class="fixed inset-y-0 flex-wrap items-center justify-between block w-full p-0 my-4 overflow-y-auto antialiased transition-transform duration-200 -translate-x-full bg-white border-0 shadow-xl max-w-64 ease-nav-brand z-990 xl:ml-6 rounded-2xl xl:left-0 xl:translate-x-0" aria-expanded="false">
	<div class="h-19">
		<i class="absolute top-0 right-0 p-4 opacity-50 cursor-pointer fas fa-times text-slate-400 xl:hidden" sidenav-close></i>
		<a class="block px-8 py-4 m-0 text-sm whitespace-nowrap text-slate-700 flex justify-center"> <!-- Tambahkan class "flex justify-center" di sini -->
			<img src="{{ url_for('static', filename='img/logos/logo-anjing.png') }}" class="inline h-full max-w-full transition-all duration-200 ease-nav-brand max-h-12 rounded-lg" alt="main_logo" />
		</a>
	</div>

	<hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent" />

	<div class="items-center block w-auto max-h-screen overflow-auto basis-full">
		<ul class="flex flex-col pl-0 mb-0">        
			<li class="mt-0.5 w-full">
				{% if session.name == 'Boss' %}
				<a class="  {% if request.path == '/boss/dashboard' %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								bg-custom-red font-semibold text-white text-sm ease-nav-brand
							{% else %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								text-sm ease-nav-brand
							{% endif %}" href="{{ url_for('bossDashboard') }}">
				{% elif session.name == 'Admin' %}
				<a class="  {% if request.path == '/admin/dashboard' %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								bg-blue-500/13 font-semibold text-slate-700 text-sm ease-nav-brand
							{% else %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								text-sm ease-nav-brand
							{% endif %}" href="{{ url_for('adminDashboard') }}">
				{% endif %}
					<div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
						<i class="relative top-0 text-sm leading-normal text-white ni ni-tv-2"></i>
					</div>
					<span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Dashboard</span>
				</a>
			</li>
			<li class="mt-0.5 w-full">
				{% if session.name == 'Boss' %}
				<a class="  {% if request.path == '/boss/data-supplier' %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								bg-blue-500/13 font-semibold text-slate-700 text-sm ease-nav-brand
							{% else %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								text-sm ease-nav-brand
							{% endif %}" href="{{ url_for('bossDataSupplier') }}">
				{% elif session.name == 'Admin' %}
				<a class="  {% if request.path == '/admin/data-supplier' %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								bg-blue-500/13 font-semibold text-slate-700 text-sm ease-nav-brand
							{% else %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								text-sm ease-nav-brand
							{% endif %}" href="{{ url_for('adminDashboard') }}">
				{% endif %}
					<div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
						<i class="relative top-0 text-sm leading-normal text-blue-500 ni ni-tv-2"></i>
					</div>
					<span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Data Supplier </span>
				</a>
			</li>
			<li class="mt-0.5 w-full">
				{% if session.name == 'Boss' %}
				<a class="  {% if request.path == '/boss/data-item' %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								bg-blue-500/13 font-semibold text-slate-700 text-sm ease-nav-brand
							{% else %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								text-sm ease-nav-brand
							{% endif %}" href="{{ url_for('bossDataItem') }}">
				{% elif session.name == 'Admin' %}
				<a class="  {% if request.path == '/admin/data-item' %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								bg-blue-500/13 font-semibold text-slate-700 text-sm ease-nav-brand
							{% else %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								text-sm ease-nav-brand
							{% endif %}" href="{{ url_for('adminDashboard') }}">
				{% endif %}
					<div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
						<i class="relative top-0 text-sm leading-normal text-blue-500 ni ni-tv-2"></i>
					</div>
					<span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Data Item</span>
				</a>
			</li>
			<li class="mt-0.5 w-full">
				{% if session.name == 'Boss' %}
				<a class="  {% if request.path == '/boss/profit-keuangan' %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								bg-blue-500/13 font-semibold text-slate-700 text-sm ease-nav-brand
							{% else %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								text-sm ease-nav-brand
							{% endif %}" href="{{ url_for('bossDashboard') }}">
				{% elif session.name == 'Admin' %}
				<a class="  {% if request.path == '/admin/profit-keuangan' %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								bg-blue-500/13 font-semibold text-slate-700 text-sm ease-nav-brand
							{% else %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								text-sm ease-nav-brand
							{% endif %}" href="{{ url_for('adminDashboard') }}">
				{% endif %}
					<div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
						<i class="relative top-0 text-sm leading-normal text-blue-500 ni ni-tv-2"></i>
					</div>
					<span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Profit Keuangan</span>
				</a>
			</li>
			<li class="mt-0.5 w-full">
				{% if session.name == 'Boss' %}
				<a class="  {% if request.path == '/boss/visualisasi-data' %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								bg-blue-500/13 font-semibold text-slate-700 text-sm ease-nav-brand
							{% else %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								text-sm ease-nav-brand
							{% endif %}" href="{{ url_for('bossDashboard') }}">
				{% elif session.name == 'Admin' %}
				<a class="  {% if request.path == '/admin/visualisasi-data' %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								bg-blue-500/13 font-semibold text-slate-700 text-sm ease-nav-brand
							{% else %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								text-sm ease-nav-brand
							{% endif %}" href="{{ url_for('adminDashboard') }}">
				{% endif %}
					<div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
						<i class="relative top-0 text-sm leading-normal text-blue-500 ni ni-tv-2"></i>
					</div>
					<span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Visualisasi Data</span>
				</a>
			</li>
			<li class="mt-0.5 w-full">
				{% if session.name == 'Boss' %}
				<a class="  {% if request.path == '/boss/item-fav' %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								bg-blue-500/13 font-semibold text-slate-700 text-sm ease-nav-brand
							{% else %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								text-sm ease-nav-brand
							{% endif %}" href="{{ url_for('bossDashboard') }}">
				{% elif session.name == 'Admin' %}
				<a class="  {% if request.path == '/admin/item-fav' %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								bg-blue-500/13 font-semibold text-slate-700 text-sm ease-nav-brand
							{% else %}
								my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 py-2.7 
								text-sm ease-nav-brand
							{% endif %}" href="{{ url_for('adminDashboard') }}">
				{% endif %}
					<div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
						<i class="relative top-0 text-sm leading-normal text-blue-500 ni ni-tv-2"></i>
					</div>
					<span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Item Favorit konciiii</span>
				</a>
			</li>
		</ul>
	</div>
</aside>